@charset "UTF-8";

/* ↓ブラウザの既定のスタイルの初期化 ここから↓ */

html {
  overflow-y: scroll;
}

body {
  font-size: 87.5%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.6;
  	background-image:url(../rays_images/back2.png),url(../rays_images/haikei.png)
  	background-position: center top,center top;
  	background-repeat: repeat-y,repeat-x repeat-y;
  	background-attachment: fixed,scroll;
	/*background-color: #f5f5f5;*/
	/* background-image: url(../rays_images/sibafu.jpg); */
	/*background-position: center top;*/
	/*background-repeat:repeat-x;*/
}

a {
  text-decoration: none;
}

a:hover {
  color:#cc6699;
}

a img {
  border:0px;
}

img {
  vertical-align: bottom;
}
/* ↑ブラウザの既定のスタイルを初期化 ここまで↑ */


/* ↓共通ブロックの設定　ここから↓ */

/* コンテナ(包括)ブロック */

#container {
	width: 959px;
	margin: 0 auto;
}

/* ヘッダー領域 ここから */

#header {
	background: url(../rays_images/header_bg.jpg) no-repeat center bottom; 
	background-size: contain;
	width: 100%;
	height: 240px;
	margin-bottom: 8px;
	position: relative; /* h1を絶対配置するための基点を設定 */
}

#header #topcopy {
	color: #000;
	font-size: 0.8em;
	line-height: 2em;
	background: #ffc107;
	opacity: 0.85;
	padding-left: 1em;
}

#header h1 {
	position: absolute;
	top: 28px;
	left: 16px;
}

#header h1 a {
	background: url(../images/logo_rays.png) no-repeat left top;
	display: block;
	width: 280px;
	/* ↓ 画像置換処理 ↓ */
	height: 0;
	padding: 89px 0 0 0;
	margin: 0;
	overflow: hidden;
}

/* ヘッダー領域　ここまで */

/* ナビ領域(グローバルナビゲーション) ここから */

#nav {
	width: 100%;
	margin-bottom: 16px;
}

#nav ul {
	padding: 0;
	margin: 0;
	border-radius: 6px; /* 要素の角を半径6px丸くする */
	overflow: hidden; /* clearfix ⇒ フロートの解除＋高さの復元 */
}

#nav li {
	background: #9E9E9E;
	float: left;
	width: 134px; /* 959- (1px × 14)) / 7 = 135px */
	height: 48px;
	border: solid 1px #fff;
	overflow: hidden;
	/* ボックスモデルを変更すると
	width: 160px;
	box-sizing: border-box;
	*/
}

#nav li:first-child {

	border-radius: 6px 0 0 6px; /* 最初のリストの左上と左下の角を6px丸くする */
	margin-left: 2px;
}

#nav li:last-child {
	border-radius: 0 6px 6px 0; /* 最後のリストの右上と右下の角を6px丸くする */
}

#nav li a {
	font-weight: bold;
	font-size: 110%;
	color: #fff;
	text-decoration: none;
	text-align: center;
	letter-spacing: 4px; /* 文字と文字の間隔を4px広げる */
	line-height: 44px; /* 行の高さを親要素のliと同等程度にpx指定し上下中央に文字列を配置する */
	background: #000;
	display: block;
	padding: 0.2em 0.8em;
}

#nav li a:hover {
	color: #000;
	background: transparent; /* ロールオーバー時に背景を透過し、ulの背景色が見えるようにする */
}

/* カレントページ処理 */
/* CSSシグネチャ 大文字に注意！ */

#Team #nav li:first-child a,
#Senshu #nav li:nth-child(2) a, 
#Seiseki #nav li:nth-child(3) a,
#Siai #nav li:nth-child(4) a,
#Katudou #nav li:nth-child(5) a,
#Oshirase #nav li:nth-child(6) a,
#Album #nav li:last-child a {
	color: #000;
	background: transparent;  /* liの背景を透過処理してulの背景色が見えるようにする */
}

/* ナビ領域（グローバルナビゲーション） ここまで */

/* コンテンツブロック ここから */

#contents {
	overflow: hidden; /* フロート解除＋高さの復元 */
}

#contents #breadcrumb {
	padding: 0 8px;
}

#contents #breadcrumb li {
	font-size: 0.857em; 
	display: inline;
}

#contents #breadcrumb li:first-child::after {
	content: ">";
	padding: 0 0.5em;
}

#Index2 #contents #breadcrumb li:first-child::after {
	content: ""; /* TOPページでは">"を表示しない */
}

#breadcrumb li a:hover {
	text-decoration: underline;
}

/* メイン領域 ここから */

#main {
	float: left;
	width: 736px; /* 領域幅は736px + 8px = 760pxになる */
	padding: 8px 16px 8px 8px;
}

#main #lead {
	padding: 8px 16px;
	margin-bottom: 16px;
	border: solid 1px #369;
	border-radius: 8px;
}

#main .top { /* このページの先頭へ */
  clear:both;
  text-align:right;
  border-bottom-width:1px;
  border-bottom-style:dotted;
  border-bottom-color:#336699;
}

#main .top a {
  font-size: 0.875em;
  text-decoration:none;
}

#main .top a:before {
  content: "▲";
}

/* メイン領域　ここまで */

/* サブ領域 ここから */

#sub {
	float: right;
	width: 182px;
	padding: 8px;
	/* box-sizing: border-box; */
}

#sub .banner {
	margin-bottom: 2em;
}

#sub .banner:last-child {
	margin-bottom: 1em;
}

#sub .banner figcaption {
	font-size: 0.75em;
}

#sub .banner a {
	display: block;
}

#sub .banner a img {
	border-radius: 4px;
}

/* サブ領域 ここまで */

/* フッター領域　ここから */

#footer {
	color: #ffffff;
}

#footer #pagetop {
	text-align: right;
	margin-top: 50px;
	margin-bottom: 10px;
}

#footer .inner {
	color: #ffffff;
	background: #000;
	padding: 16px 32px 16px;
	overflow: hidden;
}

#footer #fnav {
	float: left;
}

#footer #fnav ul li:before {
	content: "●";
	vertikal-align: top;
	padding-right: 0.875em;
}

#footer #fnav ul li a {
	color: #fff;
	font-size: 0.875em;
}

#footer #fnav ul li a:hover {
	color: #ffc107;
	text-decoration: underline;
}

#footer #siteinfo {
	color: #333;
	font-size: 0.875em;
	background: #fff;
	float:right;
	width: 400px;
	padding: 8px;
	border-radius: 8px;
}

#footer #copyright {
	text-align: center;
	width: 100%;
	margin-top: 16px;
	border-top: solid 1px #fff;
}

/* フッター領域　ここまで */
